{% extends "base.html" %}
{% block titulo %}Localização · Jardim Independência{% endblock %}
{% block conteudo %}
<section>
  <div class="container">
    <div class="eyebrow">Como chegar</div>
    <h1>Localização</h1>
    <div class="grade" style="grid-template-columns:1fr 2fr;align-items:start">
      <div class="item info"><dl>
        <dt>Endereço</dt><dd>{{ condominio.endereco }}</dd>
        <dt>Cidade</dt><dd>{{ condominio.cidade }}</dd>
        <dt>CEP</dt><dd>{{ condominio.cep }}<br><small>O condomínio possui dois CEPs em uso.</small></dd>
        <dt>Referência</dt><dd>{{ condominio.referencia }}</dd>
      </dl><p style="margin:16px 0 0"><a class="btn sec" href="https://www.google.com/maps/search/?api=1&query=-1.356453%2C-48.419633" target="_blank" rel="noopener">Abrir no Google Maps</a></p></div>
      <iframe class="mapa" title="Mapa do condomínio" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps?q=-1.356453,-48.419633+(Condom%C3%ADnio%20Jardim%20Independ%C3%AAncia%20-%20Av.%20Governador%20H%C3%A9lio%20Gueiros%2C%2048%20-%20Quarenta%20Horas%2C%20Coqueiro%20-%20Ananindeua%2C%20PA%20-%20CEP%2067120-942%20ou%2067120-370)&z=17&hl=pt-BR&output=embed"></iframe>
    </div>
  </div>
</section>
{% endblock %}
